*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F5F8FA;
  font-family: 'Droid Sans', sans-serif;
  color: #77848D;
}

header{
  background: #FFF;
  width: 100%;
  height: 2.9rem;
  box-shadow: 0 2px 5px #CFD1D3;
}

header nav{
  width: 28%;
  float: left;
  margin-right: 2rem;
  margin-left: 3rem;
  margin-top: 0.7rem;
}

header nav ul li{
  float:left;
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 0.6rem;
  color: #657786;
}

header nav ul li span{
  color: #77848D;
  font-size: 1.4rem;
}

header div{
  width: 28%;
  height: 2rem;
  float:left;
  margin-right: 3rem;
  margin-top: 0.4rem;
}

span.icon-twitter{
  color:#1DA1F2;
  font-size: 1.5rem;
  margin-left: 9.5rem;
}

span.icon-bell{
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

div.buscar{
  position: relative;
  width: 11rem;
  height: 2rem;
  border: 2px solid #F5F8FA;
  border-radius: 20px;
  background-color: #F5F8FA;
  color: #657786;
  margin-top: 0;
}

div.buscar input{
  border: none;
  background: #F5F8FA;

}

div.buscar span{
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;

}

 img.imagen{
   position: absolute;
   width: 2rem;
   height: 2rem;
   right: 13rem;
   border-radius: 50%;
}

img.twittear{
  position: absolute;
  top: -2px;;
}

section.quien-seguir{
  float: left;
  width: 30%;
  height: 20rem;
  border: 1px solid gray;
  margin-left: 1rem;
  margin-top: 1rem;
}

section.post{
  float: left;
  width: 35%;
  height: 20rem;
  border: 1px solid gray;
  margin-left: 1rem;
  margin-top: 1rem;
}

section.datos{
  position: relative;
  float: left;
  width: 18.125rem;
  height: 46rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

section.datos div.perfil{
  width: 100%;
  height: 12.1875rem;
  margin: 0 auto;
  background: #FFF;
  border-radius: 5px;
  cursor: pointer;
}

section.datos div.perfil div{
  width: 100%;
  height: 6.09375rem;
}

section.datos div.perfil div.imagen-perfil{
  position: absolute;
  top: 4rem;
  left: 0.8rem;
  width: 27%;
  height: 11%;
  border-radius: 10px;
  background: #FFF;
}

div.imagen-perfil img{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

div.perfil div:first-child img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

div.perfil div.usuario div:first-child{
  float: right;
  width: 11.5rem;
  height: 3rem;
}
div.perfil div.usuario div.nombres p:first-child{
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
}

div.perfil div.usuario div.nombres p:first-child:hover{
  text-decoration: underline;
}

div.perfil div.usuario div.seguidores{
  width: 100%;
  height: 3rem;
  clear: both;
}

div.perfil div.usuario div.seguidores div:first-child{
  float: none;
}

div.perfil div.usuario div.seguidores div{
    display: inline-block;
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
    font-size: 14px;
}

div.perfil div.usuario div.seguidores div p:nth-child(2){
  color: #1B95E0;
  font-size: 1rem;
  font-weight: bold;
}

section.datos div.tendencias{
  height: 38.875rem;
  border: 1px solid gray;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

section.datos div.tendencias p:first-child{
  font-size: 20px;
}

section.datos div.tendencias p.blue{
  margin-top: 1rem;
  font-weight: bold;
}
section.datos div.tendencias p{
  font-size: 14px;
}
section.datos div.tendencias .blue{
  color: #5AB2E8;
  font-size: 15px;
}

section.datos div.tendencias .blue:hover{
  cursor: pointer;
  text-decoration: underline;
}
