*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  width: 30%;
  height: 20rem;
  border: 1px solid gray;
}

body{
  background: #F5F8FA;
  font-family: 'Droid Sans', sans-serif;
}

header{
  background: #FFF;
  width: 100%;
  height: 2.9rem;
}

header nav{
  width: 28%;
  float: left;
  margin-right: 2rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

header nav ul li{
  float:left;
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 0.6rem;
  color: #77848D;
}

header nav ul li span{
  color: #77848D;
  font-size: 1.4rem;
}

header div{
  width: 28%;
  height: 2rem;
  float:left;
  margin-right: 3rem;
  margin-top: 0.4rem;
}

span.icon-twitter{
  color:#1DA1F2;
  font-size: 1.5rem;
  margin-left: 9.5rem;
}

span.icon-bell{
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

div.buscar{
  position: relative;
  width: 11rem;
  height: 2rem;
  border: 2px solid #F5F8FA;
  border-radius: 20px;
  background-color: #F5F8FA;
  color: #657786;
  margin-top: 0;
}

div.buscar input{
  border: none;
  background: #F5F8FA;

}

div.buscar span{
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

 img.imagen{
   position: absolute;
   width: 2rem;
   height: 2rem;
   right: 13rem;
   border-radius: 50%;
}

img.twittear{
  position: absolute;
  top: -2px;;
}
